@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared styles starts here */
.description-style{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.btn-primary-1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    padding: 16px;
    border-radius: 8px;
    margin-top: 30px;
}  
.title{
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.card{
    border-radius: 5px;
    background: rgb(250, 250, 250);
    width: 136px;
    height: 123px;
}
.card-content{
    color: rgb(112, 112, 112);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 44px 24px;
}

/* shared styles end here */

/* Header section style starts here */

.header{
    margin-top: 28px;
}
.banner{
    border: 2px solid red;
    width: 1320px;
    height: 669px;
    margin: 0 auto;
    background-image: url('../images/donation_1.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}

/* Header section style ends here */

/* Donate today section starts here */
.donate-today{
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 100px;
    width: 1320px;
    height: 550px;
}
.donate-today-description{
    color: rgb(112, 112, 112);
    margin-top: 15px;
}
.donate-today-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
}
.card_2{
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
    color: rgb(255, 89, 89);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
.card-content-2{
    color: rgb(255, 89, 89);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}
.other{
    color: blue;
    margin-top: 60px;
    margin-bottom: 20px;
}
.donate-btn{
    text-align: center;
}
hr{
    width: 765px;
    border: 1px solid rgb(218, 218, 218);
    margin: 0 auto;
    margin-bottom: 30px;
}
/* Donate today section ends here */















/* responsive small device  */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        width: 100%;
    }
   .donate-today{
    width: 100%;
   }
   .donate-today-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        
   }
   hr{
    width: 100%;
   }
}




